	<script type="text/javascript">
		$(function(){
			$(document).tooltip();
		})
		function normalImg(x){
			x.style.height="150px";
			x.style.width="150px";
		}

		function bigImg(x){
			x.style.height="200px";
			x.style.width="200px";
		}
	</script>
	<br/>
	<br/>
<h2>Game Online-Offline</h2>
<a href="<%= aoe_entertainments_path%>"><img border="0" src="/img/aoe.jpeg" alt="aoe" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="AOE" width="150" height="150"/>
</a>

<a href="<%= halflife_entertainments_path%>"><img border="0" src="/img/halflife.jpeg" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Halflife" width="150" height="150"/></a>

<a href="<%= fifa_entertainments_path%>"><img border="0" src="/img/fifa.jpeg" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Fifa" width="150" height="150"/>
</a>

<a href="<%= cdtl_entertainments_path%>"><img border="0" src="/img/cdtl.jpeg" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Silkroad" width="150" height="150"/></a>

<div class="clear"></div>
<br/>
<br/>
<h2>Thể thao-Du lịch</h2>

<a href='#'><img border="0" src="/img/bongda.jpeg" alt="aoe" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Bong Da" width="150" height="150"/>
</a>
<img border="0" src="/img/boiloi.jpeg" alt="boi loi" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Boi loi" width="150" height="150"/>
<img border="0" src="/img/caulong.jpeg" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Cau Long" width="150" height="150"/>
