
<table id="dienthoai" border="1" >
	<tr>
		<th width="20%"> Avatar </th>
		<th width="30%"> Noi dung </th>
		<th width="50%"> Bai viet moi nhat </th>
	</tr>
	<tr>
		<td > <a href="#" ><img src="/img/iphone.jpg" border='0' width="100" height="80" /></a>
		</td>
		<td>Dien thoai iphone</td>
		<td></td>
	</tr>
	<tr>
		<td> <a href="#" ><img src="/img/iphone.jpg" border='0' width="100" height="80" /></a></td>
		<td>Dien thoai android</td>
		<td></td>
	</tr>
	<tr>
		<td> <a href="#" ><img src="/img/iphone.jpg" border='0' width="100" height="80" /></a></td>
		<td>Dien thoai nokia</td>
		<td></td>
	</tr>
	<tr>
		<td> <a href="#" ><img src="/img/iphone.jpg" border='0' width="100" height="80" /></a></td>
		<td>Dien thoai khac</td>
		<td></td>
	</tr>
</table> 
<br/>
<div class="medium primary btn"><a href="#">Create</a></div>
<%= render 'results' %>

