<h1><span style="font-size: 20px; color: red;"><center>Mua bán - Rao vặt</center></span></h1>
<table id="raovat" border="1">
	<tr>
		<th> Forum </th>
		<th> Last Post </th>
		<th> Total Post </th>
	</tr>
	<tr>
		<td> <a href="<%= dienthoai_markets_path%>">Điện thoại</a>  </td>
		<td></td>
		<td></td>     
	</tr>
	<tr>
		<td>  Laptop  </td>
		<td></td>
		<td></td>     
	</tr>
	<tr>
		<td>  Xe  </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>  Đồ công nghệ </td>
		<td></td>
		<td></td> 
	</tr>
</table>