
	<h1><span style="font-size: 20px; color: red;"><center>Mua bán - Rao vặt</center></span></h1>
  <hr>
	<br/><br/><br/>
	<table id="dienthoai" cellspacing="20" >
		<tr>
			<td height="200" bgcolor="black" color="white"><font size="5" color="white">Mobile</font><br/><a href="<%= dienthoais_path%>" ><img src="/img/iphones.png" border='0' class="imgSmile" /></a></td>
			<td bgcolor="black"> <a href="#"><img src="/img/laptop.jpeg" border='0' class="imgSmile" /></a></td>
		</tr>
		<tr>
			<td height="200" bgcolor="black"> <a href="#" ><img src="/img/camera.jpg" border='0' class="imgSmile"/></a></td>
			<td bgcolor="#333333"><font size="5" color="white">Xe</font><br/> <a href="#" ><img src="/img/xe.png" border='0' width="250" class="imgSmile" /></a></td>
		</tr>
	</table> 
	<br/>

  <script>
   $(document).ready(function(){
       $('.imgSmile').width(200);
       $('.imgSmile').mouseover(function()
       {
          $(this).css("cursor","pointer");
          $(this).animate({width: "350px" , height: "250"}, 'slow');
       });
    
    $('.imgSmile').mouseout(function()
        {   
          $(this).animate({width: "200px", height: "160" }, 'slow');
       });
   });
   </script>