/*Reset CSS setting*/
html, body, span, div, h1, h2, h3, h4, strong,
ol, ul, li {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

body {
font-size: 90%;
font-family: helvetica,arial;
line-height: 1.5;
}

ol,ul{
list-style: none;
}

a {
text-decoration: none;
color: blue;
}

a.hover {
text-decoration: underline;
}

.clear {
clear: both;
}

a img{
border: none;
}
#wrapper {
width: 1400px;
margin: 1px auto;
}
#slide-bar {
	float: left;
	margin-left: 10px;
	width: 200px;
	border-right:  1px solid #A7D7F9;
	background: #F6F6F6;
}


#slide-bar2 ul.topics li a{
	font-size: 13px;
	color: black;
	margin-left: 20px;
}
#slide-bar2 ul.faqs li a{
	font-size: 13px;
	color: black;
	margin-left: 20px;
}

#slide-bar2 ul.posts li a{
	font-size: 13px;
	color: black;
	margin-left: 20px;
}

#slide-bar2 {
	margin-top: 20px;
	line-height: 2;
}
#page {
	float: right;
	width: 1150px;
}
/*header css*/
#header {
	width: 1150px;
	height: 50px;
}

#header-top {
	width: 1150px;
	float: top;
	font-size: 12px;
}

#top-left{
	float: left;
	width: 200px;
	margin-right: 0px;
}
#top-right{
	margin-right: 20px;
	float: right;
	width: 900px;
}

#top-right ul li,img {
	display: inline;
	padding: 5px;
	float: right;
}
#top-right ul img {
	margin-top: -10px;
}

#mem-inline li {
	display: inline;
}

#header-bottom{
	width: 1150px;
	float: bottom;
}
#hd-left{
	float :left;
	width: 400px;
	border-bottom: 1px solid #A7D7F9;
}
#hd-left ul li{
	display:  inline;
	margin-right: 30px;
	float: left;
}

#hd-right {
	float: right;
	border-bottom: 1px solid #A7D7F9;
}

#hd-right ul  li{
	margin-right: 30px;
	display:  inline;
	float: left;
}
#hd-right ul  li li,img {
	display: inline;
	margin-right: -25px;
}


/*end header */
#primary{
	width: 1150px;
	height: auto;
	background: #fefefe;
}

#content {
	float: right;
	width: 1190px;
}

#content-page{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	width: 700px;
}
#content-right {
	margin-left: 10px;
	margin-top: 20px;
	float :right;
	width: 400px;
	
}
#title-statistic {
	background: #F2C3C4;
	border: 1px solid #E05F62;
	width:  360px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
#statistic{
	margin-top: 5px;
	background: #F6F6F6;
	font-size: 16px;
	width: 350px;
	padding-left:  10px;
}
#title-event {
	margin-top: 10px;
	background: #FFD6C0;
	border: 1px solid #E68D5D;
	width:  360px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#event {
	margin-top: 5px;
	background: #F6F6F6;
	font-size: 16px;
	width: 350px;
	padding-left:  10px;
}
.event {
	margin-right: -5px;
}

#title-img {
	margin-top: 10px;
	background: #CCFCF9;
	border: 1px solid #4CCBC3;
	width:  360px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#img-member{
	margin-top: 5px;
	font-size: 16px;
	width: 350px;
	padding-left:  10px;
	border-bottom: 1px solid #F6F6F6;
	height: 250px;
}

#img-member div#avatar-member {
	float: left;
	width: 100px;
	margin-left: -20px;
}
#img-member div#info-member {
	float: right;
	margin-left: 10px;
	width: 240px;
}

/*end */
#footer {
	width: 1400px;
	height: 50px;
	margin-left: 33px;
	margin-top: 10px;
	background: #F6F6F6;
}

#account-left{
	float: left;
	margin-left: 70px;
	width: 300px;
}

#account-info {
	float: right;
	margin-left:  30px;
	width: 300px;
	}

	#content1,#content2,#content3,#content4 {
	display : none
	}

	#new_aoe_post,#new_fifa_post,#new_other_post,#new_halflife_post{
		display: none;
	}

	#user_index {
		border: 1px solid black;
	}

#table-post{
	border: 1px solid #CCCCCC;
}

#form-login {
	display: none;
}

#view-more{
	display: none;
}

#all_user #l{
	float: left;
}
#all_user #r{
	float: right;
}
._user{
	width: 200px;
	height: 200px;
}

._user ._avatar{
	float: left;
}

._user ._info {
	float: right;
}

#update-avatar {
	display: none;
}

#thread {
	margin-right: 0px;
}

.user_pic {
	margin-right: 0px;
}

#img-logo img {
	margin-right: 25px;
}

.show_picture_post{
	margin-right: 0px;
}


#error_explanation{
	color: red;
	font-weight: bold;
}

.tbl_post{
	border: 1px solid #D6D6D6;
}

.tbl_post img{
	margin-right: 300px;
	width: 50%;
	height: 50%;
}

.home_post {
	margin-top: 20px;
}

.content-html{
	margin: 40px 10px 50px 10px;
}

.user_post_home{
	width: 100%;
	margin-top: 1px;
}

.info_user_home {
	float: left;
	width: 120px;
	background: #F0F7FC;
}

.info_user_home img {
	margin-right: 5px;
}

.info1{
	background: #D7EDFC;

}
.content_user_home {
	float: right;
	width: 540px;
}

.content_user_home img{
	float: left;
}

.time_post {
	margin-left: 130px;
}

.time_post .ti{
	float: left;
	width: 550px;
}
.time_post .count_post {
	float: right;
	margin-right: 10px;
}

.action-post {
	margin-left: 120px;
}

.action-post ul li{
	display: inline-block;
	margin-right: 20px;
}

.action2 {
	display: none;
}
/*html csss*/
input {
  height: 30px;
}

textarea{
  border: 1px solid orange;
  padding: 10px;
  margin-bottom: 15px;
}
