/*Reset CSS setting*/
html, body, span, div, h1, h2, h3, h4, strong,
ol, ul, li {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

body {
font-size: 90%;
font-family: helvetica,arial;
line-height: 1.5;
}

ol,ul{
list-style: none;
}

a {
text-decoration: none;
color: blue;
}

a.hover {
text-decoration: underline;
}

.clear {
clear: both;
}

a img{
border: none;
}
#wrapper {
width: 1400px;
margin: 1px auto;
}
#slide-bar {
	float: left;
	margin-left: 10px;
	width: 200px;
	border-right:  1px solid #A7D7F9;
	background: #F6F6F6;
}


#slide-bar2 ul.topics li a{
	font-size: 13px;
	color: black;
	margin-left: 20px;
}
#slide-bar2 ul.faqs li a{
	font-size: 13px;
	color: black;
	margin-left: 20px;
}

#slide-bar2 ul.posts li a{
	font-size: 13px;
	color: black;
	margin-left: 20px;
}

#slide-bar2 {
	margin-top: 20px;
	line-height: 2;
}
#page {
	float: right;
	width: 1150px;
}
/*header css*/
#header {
	width: 1150px;
	height: 50px;
}

#header-top {
	width: 1150px;
	float: top;
	font-size: 12px;
}
#header-top ul li,img {
	display: inline;
	padding: 5px;
	float: right;
}
#header-top ul img {
	margin-top: -10px;
}

#header-bottom{
	width: 1150px;
	float: bottom;
}
#hd-left{
	float :left;
	width: 400px;
	border-bottom: 1px solid #A7D7F9;
}
#hd-left ul li{
	display:  inline;
	padding: 15px;
}
#hd-right {
	float: right;
	border-bottom: 1px solid #A7D7F9;
}

#hd-right ul li{
	margin-right: 20px;
	display:  inline;
	padding: 15px;

}
/*end header */
#primary{
	width: 1150px;
	height: auto;
	background: #fefefe;
}

#content {
	float: right;
	width: 1190px;
}

#content-page{
	margin-top: 20px;
	float: left;
	width: 700px;
}
#content-right {
	margin-left: 10px;
	margin-top: 20px;
	float :right;
	width: 400px;
	
}
#title-statistic {
	background: #F2C3C4;
	border: 1px solid #E05F62;
	width:  360px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
#statistic{
	margin-top: 5px;
	background: #F6F6F6;
	font-size: 16px;
	width: 350px;
	padding-left:  10px;
}
#title-event {
	margin-top: 10px;
	background: #FFD6C0;
	border: 1px solid #E68D5D;
	width:  360px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#event {
	margin-top: 5px;
	background: #F6F6F6;
	font-size: 16px;
	width: 350px;
	padding-left:  10px;
}


#title-img {
	margin-top: 10px;
	background: #CCFCF9;
	border: 1px solid #4CCBC3;
	width:  360px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#img-member{
	margin-top: 5px;
	font-size: 16px;
	width: 350px;
	padding-left:  10px;
	border-bottom: 1px solid #F6F6F6;
	height: 250px;
}

#img-member div#avatar-member {
	float: left;
	width: 100px;
}
#img-member div#info-member {
	float: right;
	width: 240px;
}

/*end */
#footer {
	width: 1400px;
	height: 50px;
	margin-left: 33px;
	margin-top: 10px;
	background: #F6F6F6;
}

#account-left{
	float: left;
	margin-left: 70px;
	width: 300px;
}

#account-info {
	float: right;
	margin-left:  30px;
	width: 300px;
	
}


/*html csss*/
input {
  height: 30px;
}